
.pad {
    border: 5px solid black;
}

.box {
    border: 1px solid lightgray;
}

.row-div {
    display: inline-block;
}


.color-div {
    margin-top: 1em;
    display: inline-block;
}

.color {
    margin: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
}
